.Temp-container {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
}
.Temp-variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}
.Temp-title {
    color: darkblue;
    font-weight: bold;
}
.Temp-display {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

