.variable-wrapper {
    border: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
}

.variable-title {
    color: red;
}

.variable-button {
    border: 1px solid black;
}

.variable-dec {
    background-color: red;
}

.variable-inc {
    background-color: green;
}

.variable-value {
    margin: 0 1rem;
    font-size: 2rem;
}
