.counter-wrapper {
    border: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
}
.counter-display {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    border: 1px solid #000; /* Fixed border */
    padding: 0.5rem;
    background-color: rgb(73, 73, 73);
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't break layout */
    margin-bottom: 0.5rem;

}
.counter-title {
    color: darkblue;
    font-weight: bold;
}

.counter-button {
    border: 1px solid black;
}
.counter-dec{
    background-color: red;
}
.counter-inc{
    background-color: green;
}
.counter-value {
    margin: 0 1rem;
    font-size: 2rem;
}